{% extends "base.html" %}
{% block title %}Front page{% endblock %}
{% block content %}

<div class="columns">
  <div class='column col-3'></div>
  <div class='column col-6 text-center'>
    <br>
    <h1 class='massive'><i class="fa-brands fa-instagram"></i> Dist<span class='alternate_massive'>Share</span></h1>
    <h6>Unlike traditional Instagram, DistShare stores photographs solely on the devices of its users, allowing them to avoid keeping images on the master and therefore minimising the amount of centralised control master have.</h6>
    <br>
    <img src = "{{ url_for('static', filename='iphone_insta.svg') }}" alt="My Happy SVG" width="100%"/>
    <br>
    <br>
    {% if not user.is_logged_in() %}
    <a href="/login"><button class='btn btn-primary btn-lg'>Login</button></a>
    <a href="/register"><button class='btn btn-lg'>Register</button></a>
    {% else %}
    <a href="/home"><button class='btn btn-lg'>Start planning the trip!</button></a>
    {% endif %}
  </div>
</div>

{% endblock %}