{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
  <div class="container">
    <div class="columns">
      <div class="column col-4 col-lg-3 col-xs-0"></div>
      <div class="column col-4 col-lg-6 col-xs-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/profile">Profile</a>
          </li>
        </ul>
        <h1>Profile</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="toast toast-error">
              {{ messages[0] }}
            </div>
          {% endif %}
        {% endwith %}
        <br>
        <div class="tile tile-centered">
          <div class="tile-content">
            <div class="tile-title text-bold">Username</div>
            <div class="tile-subtitle">{{ user.get_username() }}</div>
          </div>
          <div class="tile-content">
            <div class="tile-title text-bold">Created</div>
            <div class="tile-subtitle">{{ user.get_creation_time() }}</div>
          </div>
          <div class="tile-action">
            <a href='/edit_profile'>
              <button class="btn btn-link btn-action btn-lg tooltip tooltip-left" data-tooltip="Edit user details"><i
                      class="icon icon-edit"></i></button>
            </a>
          </div>
        </div>
        <br>
        <button class='btn show-modal'>Delete my account</button>
        <div class="modal modal-sm">
          <div class="modal-overlay"></div>
          <div class="modal-container">
            <div class="modal-header">
              <div class="close-modal btn btn-clear float-right"></div>
              <div class="text-bold modal-title">Delete account</div>
            </div>
            <div class="modal-body">
              <div class="content">
                Are you sure?
              </div>
            </div>
            <div class="modal-footer">
              <a href='/delete_user' class='btn'>Yes, delete my account</a>
            </div>
          </div>
        </div>
        <div class='divider'></div>
        <h3>Your Followers</h3>
        {% if len(followers) == 0 %}
          <div class="empty">
            <div class="empty-icon">
              <i class="fas fa-plane-slash"></i>
            </div>
            <p class="empty-title h5">You don't have any followers</p>
            <p class="empty-subtitle">Explore users to follow</p>
            <div class="empty-action">
              <a href="/home">
                <button class="btn btn-primary">Go to home page</button>
              </a>
            </div>
          </div>
        {% endif %}
        {% for follower in followers %}
          <div class="card shadowContainer">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="tile tile-centered">
                <div class="tile-icon">
                  <i class="fas fa-suitcase-rolling"></i>
                </div>
                <div class="tile-content">
                  <div class="tile-title text-bold">{{ follower }}</div>
                </div>
                <div class="tile-action">
                  <a href='/profile/{{ follower }}'>
                    <button class="btn btn-primary">Show Profile</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
      <div class="column col-4 col-lg-3 col-xs-0"></div>
    </div>
  </div>

  <script>
      $(".close-modal").on("click", function () {
          $(this).closest('.modal').removeClass('active');
      });

      $(".show-modal").on("click", function () {
          $('.modal').addClass('active');
      });
  </script>

{% endblock %}

