{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
  <div class="container">
    <div class="columns">
      <div class="column col-4 col-lg-3 col-xs-0"></div>
      <div class="column col-4 col-lg-6 col-xs-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/profile">Profile</a>
          </li>
        </ul>
        <h1>Profile</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="toast toast-error">
              {{ messages[0] }}
            </div>
          {% endif %}
        {% endwith %}
        <br>
        <div class="tile tile-centered">
          <figure class="avatar avatar-xl" data-initial="{{ user.get_username()[:2] }}"
                  style="background-color: #5755d9;">
            {#<img src="{{ url_for('static', filename='images/profile.webp') }}" alt="...">#}
          </figure>
          <div class="tile-content">
            <div class="tile-title text-bold">Username</div>
            <div class="tile-subtitle">{{ user.get_username() }}</div>
          </div>
          <div class="tile-content">
            <div class="tile-title text-bold">Created</div>
            <div class="tile-subtitle">{{ user.get_creation_time() }}</div>
          </div>
          {#Edit Profile #}
          {#<div class="tile-action">#}
          {#  <a href='/edit_profile'>#}
          {#    <button class="btn btn-link btn-action btn-lg tooltip tooltip-left" data-tooltip="Edit user details"><i#}
          {#            class="icon icon-edit"></i></button>#}
          {#  </a>#}
          {#</div>#}
        </div>
        <br>
        <button class='btn show-modal-1'>Post a new image</button>
        <div class="modal modal-sm modal-1">
          <div class="modal-overlay"></div>
          <div class="modal-container">
            <div class="modal-header">
              <div class="close-modal btn btn-clear float-right"></div>
              <div class="text-bold modal-title">Post Image</div>
            </div>
            <div class="modal-body">
              <div class="content">
                Select image
              </div>
            </div>
            <div class="modal-footer">
              <form action="/upload_pic" method="POST"
                    enctype="multipart/form-data">
                <input type="file" name="file"/>
                <input type="submit"/>
              </form>
            </div>
          </div>
        </div>
        <div class='divider'></div>
        <h3>Followers</h3>
        {% if followers|length == 0 %}
          <div class="empty">
            <div class="empty-icon">
              <i class="fas fa-plane-slash"></i>
            </div>
            <p class="empty-title h5">{{ pronoun }} don't have any followers</p>
            <div class="empty-action">
              <a href="/home">
                <button class="btn btn-primary">Go to home page</button>
              </a>
            </div>
          </div>
        {% endif %}
        {% for follower in followers %}
          <div class="card shadowContainer">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="tile tile-centered">
                <div class="tile-icon">
                  <i class="fas fa-suitcase-rolling"></i>
                </div>
                <div class="tile-content">
                  <div class="tile-title text-bold">{{ follower }}</div>
                  <div class="tile-subtitle text-bold"><a href="/profile/{{ follower }}"> Show Profile </a></div>
                </div>
              </div>
            </div>
          </div>
          <br>
        {% endfor %}


        <h3>Following</h3>
          <div class="empty">
            {% if following|length == 0 %}
            <div class="empty-icon">
              <i class="fas fa-plane-slash"></i>
            </div>
            <p class="empty-title h5">{{ pronoun }} are not following anyone</p>
            <p class="empty-subtitle">Explore users to follow</p>
            {% endif %}
            <div class="empty-action">
              <a href="/all_users">
                <button class="btn btn-primary">Explore other users</button>
              </a>
            </div>
          </div>
        
        {% for following_user in following %}
          <div class="card shadowContainer">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="tile tile-centered">
                <div class="tile-icon">
                  <i class="fas fa-user"></i>
                </div>
                <div class="tile-content">
                  <div class="tile-title text-bold">{{ following_user }}</div>
                  <div class="tile-subtitle text-bold"><a href="/profile/{{ following_user }}"> Show Profile </a></div>
                </div>
              </div>
            </div>
          </div>
          <br>
        {% endfor %}

        <h3>Pending requests</h3>
        {% if pending|length == 0 %}
          <div class="empty">
            <div class="empty-icon">
              <i class="fas fa-plane-slash"></i>
            </div>
            <p class="empty-title h5">{{ pronoun }} don't have any pending follow requests</p>
            <div class="empty-action">
              <a href="/home">
                <button class="btn btn-primary">Go to home page</button>
              </a>
            </div>
          </div>
        {% endif %}
        {% for username in pending %}
          <div class="card shadowContainer">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="tile tile-centered">
                <div class="tile-icon">
                  <i class="fas fa-suitcase-rolling"></i>
                </div>
                <div class="tile-content">
                  <div class="tile-title text-bold">{{ username }}</div>
                  <div class="tile-subtitle text-bold"><a href="/accept_request/{{ username }}"> Accept request </a></div>
                </div>
              </div>
            </div>
          </div>
          <br>
        {% endfor %}

        <h3>Posts</h3>
        {% if images_blob_data|length == 0 %}
          <div class="empty">
            <div class="empty-icon">
              <i class="fas fa-plane-slash"></i>
            </div>
            <p class="empty-title h5">{{ pronoun }} don't have any post</p>
          </div>
        {% endif %}
        {% for image_blob_data in images_blob_data %}
          <div class="card shadowContainer">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="tile tile-centered">
                <div class="card-image"><img class="img-responsive" src="data:image/jpg;base64,{{image_blob_data}}" alt="post"></div>
              </div>
            </div>
          </div>
          <br>
        {% endfor %}

      </div>
      <div class="column col-4 col-lg-3 col-xs-0"></div>
    </div>
  </div>



{% endblock %}

